@viewport {
  width: device-width ;
  zoom: 1.0 ;
}
body{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Flag_of_the_United_Nations.svg/1200px-Flag_of_the_United_Nations.svg.png");
  background-position: center;
}
@media screen and (max-width: 480px){
  body{
    width: 480px;
  }
}
ul{
  list-style-type: none;
  margin: 0px;
}
#mainMenu{
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #444;
}
li{
  display: inline-block;
}
#bottom{
  background-color: #ff0000;
  width: 100%;
}
#milMain{
  background-color: green;
}
#ecoMain{
  background-color: yellow;
}
#ssMain{
  background-color: lightgrey;
}
#hrfMain{
  background-color: lightblue;
}
#calculator{
  color: lightgrey;
  background-color: #111;
  width: 100%;
  font-family: monospace;
  font-size: 120%;
}
#hrfNum{
  border: 1px solid darkblue;
  color: darkblue;
}

.stat{
 width: 100%;
 text-align: center;
}
.titles{
  font-family: sans-serif;
}
.statNum{
 font-family: fantasy;
 font-size: 20px;
 padding-left: 15px;
 padding-right: 15px;
 border: 1px solid black;
}
.lf{
margin-right: 18px;
border-top-left-radius: 50%;
border-bottom-left-radius: 50%;
}
.uf{
margin-left: 18px;
border-top-right-radius: 50%;
border-bottom-right-radius: 50%;
}
.changes{
padding: 10px;
font-size: 18px;
border: none;
background-color: #00ff00;
}
.misc{
 margin: 5px;
 font-size: 20px;
}
